.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    // background: green;
}

.wrapper {
    width: 50%;
    height: 100vh; 
    // background: transparent;
}