<div class="grammar-type">
    <p>noun</p>
    <div class="hr"></div>
</div>
<div class="meaning">
    <p [class]="darkmode.isDark ? 'gramdarkmode' : 'gramlightmode' ">Meaning</p>
    <ul [class]="darkmode.isDark ? 'meaningdarkmode' : 'meaninglightmode' ">
        <li>(etc.) A set of keys used to operate a typewrite, computer etc.</li>
        <li>A component of many instruments including the piano, organ, and harpsichord consisting of usually black and white keys that cause different tones to be produced when struck.</li>
        <li>A device with keys of a musical keyboard, used to control electronic sound-producing devices which may be built into or separate from the keyboard device.</li>
    </ul>
</div>
<div class="syn">
    <p [class]="darkmode.isDark ? 'meaningdarkmode' : 'meaninglightmode' ">Synonyms</p>
    <p class="synonyms">electronic keyboard</p>
</div>
